<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" id="navbar1">
  <div class="container">
      <a class="navbar-brand mr-1 mb-1 mt-0" href="/">HOME</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse justify-content-center" id="collapsingNavbar">
          
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" href="/api/event">계획 등록</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/api/tag">태그로 검색</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/api/goal">메모하기</a>
              </li>
              
          </ul>
      </div>
  </div>
</nav>
<p></p>